.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: rgb(3, 61, 3);
  text-align: left;
  /* background-color: rgb(3, 61, 3); */
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
.accordion {
  --bs-accordion-color: rgb(3, 61, 3);
  /* --bs-accordion-bg: rgb(3, 61, 3); */
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: rgb(3, 61, 3);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  /* --bs-accordion-btn-color: rgb(3, 61, 3); */
  /* --bs-accordion-btn-bg: rgb(3, 61, 3); */

  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;

  --bs-accordion-btn-focus-border-color: rgb(3, 61, 3);
  /* --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(3, 61, 3); */
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: white;
  --bs-accordion-active-bg: rgb(3, 61, 3);
}
